header {
    font: bold 12pt Arial;
    text-align: center;
    color: white;
}

body {
    background-color: rgb(152, 196, 218);
}
section {
    background-color: white;
    width: 450px;
    border-radius: 11px;
    box-shadow: 5px 5px 5px rgb(153, 147, 147);
    font: normal 10pt Arial;
    padding: 15px;
    margin: auto;
}

div {
    padding-top: 20px;
    text-align: left;
}

footer {
    font: italic 11pt Arial;
    color: white;
    text-align: center;
}